.custom-shape-divider-bottom-1660925192 {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.custom-shape-divider-bottom-1660925192 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 171px;
}

.custom-shape-divider-bottom-1660925192 .shape-fill {
    fill: #f8f9fa;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layerLight {
    background-image: url('./assets/wave-light-mode.svg');
}
.layerDark {
    background-image: url('./assets/wave-dark-mode.svg');
}
.btn-default:active, .btn-default:focus {
    outline: none !important;
    outline-offset: none !important;
  }
